In [290]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd

from sklearn.cross_validation import train_test_split
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import roc_auc_score

## Load data

In [294]:
shop_behavior_path = "F:\\Competitions\\Tianchi\\data\\ccf_first_round_user_shop_behavior.csv"
evaluation_path = "F:\\Competitions\\Tianchi\\data\\evaluation_public.csv" 
shop_info_path = "F:\\Competitions\\Tianchi\\data\\ccf_first_round_shop_info.csv"

In [302]:
shop_behavior_df =pd.read_csv(shop_behavior_path,nrows = 60000)

In [303]:

shop_info = pd.read_csv(shop_info_path)

In [304]:
#wifi list to top n wifi set
def array2dict(wifi_infos):
    wifi = [tuple(x.split("|")[0:2]) for x  in wifi_infos.split(";")]
    wifi.sort(key = lambda x: x[1],reverse =False)
    sel = [y[0] for y in wifi[0:5]]
    return set(sel)
shop_behavior_df["user_wifi"]= shop_behavior_df["wifi_infos"].map(array2dict)

In [314]:
# shop info merge wifi list
shop_user = pd.merge(shop_info,shop_behavior_df,on = 'shop_id', how='left', suffixes=['_s','_u'])
shop_user.drop(['wifi_infos'],axis = 1,inplace= True)
def unionset(set_df):
    #groupby shop_id to new wifi_list
    base_set = set_df.iloc[0]['user_wifi']
    for j in range(1,set_df.shape[0]-1):
        base_set = base_set | set_df.iloc[j]['user_wifi']
    return base_set
# unionset(shop_user[shop_user['shop_id']=='s_411850'])
top_wifi = shop_user.groupby('shop_id').apply(unionset)

top_wifi_df = top_wifi.to_frame()
top_wifi_df.reset_index(inplace= True)
top_wifi_df.rename(index=str, columns={0: "shop_wifi"},inplace = True)
shop_info_new = pd.merge(shop_info,top_wifi_df)
print shop_info_new.shape

(8477, 7)

# extract Feature

In [327]:
user_shop_new = pd.merge(shop_behavior_df,shop_info_new,on = 'shop_id', how='left', suffixes=['_u','_s'])
user_shop_new.drop(['wifi_infos'],axis = 1,inplace=True)
print user_shop_new.shape
user_shop_new_deNA = user_shop_new.dropna()
print user_shop_new_deNA.shape
# user_shop_new

(60000, 12)
(60000, 12)

Empty DataFrame
Columns: [user_id, shop_id, time_stamp, longitude_u, latitude_u, user_wifi, category_id, longitude_s, latitude_s, price, mall_id, shop_wifi]
Index: []

In [328]:

user_shop_new['longitude_delta']=abs(user_shop_new['longitude_s']-user_shop_new['longitude_u'])
user_shop_new['latitude_delta']=abs(user_shop_new['latitude_s']-user_shop_new['latitude_u'])
def intersection(df):
    res = df['user_wifi'] & df['shop_wifi'] 
    coef = len(res)/1.0/len(df['shop_wifi'])
    return coef
user_shop_new['wifi_coef']  = user_shop_new.apply(intersection,axis=1)

In [329]:
user_shop_feature = user_shop_new[['user_id','shop_id','category_id','price','mall_id','wifi_coef','longitude_delta','latitude_delta']]
user_shop_feature

,user_id,shop_id,category_id,price,mall_id,wifi_coef,longitude_delta,latitude_delta
0,u_376,s_2871718,c_38,42,m_1409,0.833333,0.000491,0.000146
1,u_376,s_2871718,c_38,42,m_1409,0.833333,0.000620,0.000076
2,u_1041,s_181637,c_30,40,m_4079,0.070423,0.000741,0.000420
3,u_1158,s_609470,c_27,49,m_6587,0.200000,0.000110,0.000094
4,u_1654,s_3816766,c_6,62,m_3005,0.192308,0.000251,0.000141
5,u_2733,s_3686420,c_34,40,m_3839,0.238095,0.000864,0.000232
6,u_2848,s_89874,c_49,62,m_1920,0.555556,0.000122,0.000175
7,u_3063,s_939447,c_28,40,m_2878,0.333333,0.000460,0.000074
8,u_3063,s_939447,c_28,40,m_2878,0.333333,0.000408,0.000056
9,u_3063,s_3698335,c_25,54,m_2878,0.294118,0.000040,0.000243
10,u_3604,s_149642,c_29,44,m_690,0.050000,0.000012,0.000299
11,u_4250,s_9899,c_29,50,m_2415,0.111111,0.000037,0.000003
12,u_4508,s_433348,c_26,53,m_2415,0.135135,0.000615,0.000360
13,u_5026,s_301215,c_29,47,m_7168,0.073529,0.000167,0.000194
14,u_5488,s_190419,c_30,36,m_7168,0.555556,0.000391,0.000404
15,u_5488,s_190419,c_30,36,m_7168,0.555556,0.000184,0.000326
16,u_5488,s_190419,c_30,36,m_7168,0.555556,0.000184,0.000326
17,u_5488,s_190419,c_30,36,m_7168,0.555556,0.000391,0.000404
18,u_5602,s_3494433,c_28,42,m_7601,0.500000,0.000090,0.000006
19,u_5602,s_3494433,c_28,42,m_7601,0.500000,0.000067,0.000005
20,u_5602,s_54272,c_59,42,m_1375,0.294118,0.000264,0.000037
21,u_5870,s_452164,c_29,55,m_1377,0.081967,0.000139,0.000559
22,u_6429,s_573614,c_50,50,m_3832,1.000000,0.000561,0.000104
23,u_6429,s_1151286,c_26,45,m_3832,0.227273,0.000291,0.000400
24,u_6870,s_161222,c_38,47,m_625,0.161290,0.000040,0.000007
25,u_6910,s_389470,c_29,57,m_1263,0.263158,0.000259,0.000077
26,u_7037,s_3947923,c_1,55,m_622,0.357143,0.000182,0.000120
27,u_7079,s_2846762,c_28,44,m_1920,0.106383,0.000292,0.000242
28,u_7869,s_461089,c_50,69,m_1293,0.263158,0.000086,0.000346
29,u_8045,s_3996822,c_38,42,m_3005,0.312500,0.000048,0.000268
...,...,...,...,...,...,...,...,...
59970,u_14080853,s_209068,c_28,44,m_1377,0.051020,0.000080,0.000227
59971,u_14081518,s_3974805,c_38,42,m_5825,0.416667,0.000436,0.000416
59972,u_14081518,s_392555,c_26,47,m_5825,0.222222,0.000184,0.000079
59973,u_14081518,s_576221,c_28,44,m_5825,0.120000,0.000057,0.000021
59974,u_14081525,s_1070878,c_136,58,m_1790,0.428571,0.000005,0.000033
59975,u_14081630,s_2741113,c_24,64,m_4828,0.714286,0.000523,0.000474
59976,u_14081764,s_3074861,c_34,40,m_1175,0.307692,0.000057,0.000065
59977,u_14082745,s_3947900,c_38,47,m_615,0.833333,0.000304,0.000065
59978,u_14083563,s_709160,c_62,51,m_2467,0.444444,0.000122,0.000491
59979,u_14083858,s_644235,c_28,36,m_2467,0.384615,0.000401,0.000422
59980,u_14084110,s_1694061,c_34,32,m_7374,0.166667,0.000143,0.000127
59981,u_14084110,s_559955,c_38,38,m_7374,0.266667,0.000185,0.000134
59982,u_14084129,s_2703727,c_26,48,m_822,0.217391,0.000545,0.000157
59983,u_14084189,s_3832278,c_27,39,m_8344,0.176471,0.000104,0.000235
59984,u_14084290,s_62158,c_34,47,m_8093,0.307692,0.000318,0.000382
59985,u_14084508,s_3637150,c_130,56,m_2267,0.200000,0.000021,0.000380
59986,u_14085359,s_7695,c_29,50,m_2270,0.185185,0.000108,0.000115
59987,u_14086012,s_3481263,c_26,44,m_6167,0.300000,0.000841,0.000094
59988,u_14087183,s_394261,c_38,30,m_615,0.094340,0.000233,0.000138
59989,u_14087384,s_209855,c_24,55,m_8344,0.625000,0.000145,0.000024
59990,u_14087646,s_355177,c_11,60,m_979,0.185185,0.000296,0.000108
59991,u_14087646,s_543836,c_34,39,m_979,0.090909,0.000126,0.000137
59992,u_14089085,s_4059492,c_38,43,m_1089,1.000000,0.000078,0.000195
59993,u_14089264,s_387291,c_1,63,m_909,0.214286,0.000108,0.000025
59994,u_14090029,s_2558646,c_34,32,m_6337,0.266667,0.000107,0.000117
59995,u_14091099,s_227106,c_13,64,m_5892,0.400000,0.000428,0.000486
59996,u_14091099,s_775,c_26,44,m_5892,0.200000,0.000030,0.000002
59997,u_14091316,s_500622,c_34,35,m_1950,1.000000,0.000033,0.000109
59998,u_14091628,s_397569,c_2,64,m_4459,0.454545,0.000229,0.000522
59999,u_14091790,s_207530,c_29,40,m_7374,0.066667,0.000096,0.000096

## Training

In [330]:
def setLabel(df):
    label = 0
    if df['wifi_coef']>0.5:
        label = 1
    return label
        
training =user_shop_feature
training['label'] = training.apply(setLabel,axis =1)

D:\ProgramData\Anaconda2\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [337]:
print training[training['label']==1]['label'].count()
print training[training['label']==0]['label'].count()

7556
52444

## Model

In [281]:
def logistic_regression_classifier(train_x, train_y):  
    from sklearn.linear_model import LogisticRegression  
    model = LogisticRegression(penalty='l2')  
    model.fit(train_x, train_y)  
    return model
def random_forest_classifier(train_x, train_y):  
    from sklearn.ensemble import RandomForestClassifier  
    model = RandomForestClassifier(n_estimators=50 ,oob_score=True)  
    model.fit(train_x, train_y)  
    return model

In [331]:
all_inputs=training[['wifi_coef','longitude_delta','latitude_delta']].values
all_classes=training['label'].values
(X_train,X_test,y_train,y_test)= train_test_split(all_inputs,all_classes,train_size=0.75)

In [332]:
rfmodel = random_forest_classifier(X_train,y_train)
rfmodel.oob_score_

1.0

In [333]:
y_pred = rfmodel.predict(X_train)
print("RF Metrics : {0}".format(roc_auc_score(y_train, y_pred)))

RF Metrics : 1.0

## Validation

,shop_id,category_id,longitude_s,latitude_s,price,mall_id,user_id,time_stamp,longitude_u,latitude_u,new_wifi,top_wifi
1988,s_101222,c_51,121.327088,31.776542,57,m_4011,NaN,NaN,NaN,NaN,NaN,NaN

## Predict

nan

{'i'}